h1 {
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
}

body {
  width: 100%;
  height: 100%;
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
  overflow: hidden;
}

.navbar {
	font-family: "Lucida Console", "Courier New", monospace;
}

.logo {
	margin-top: -10px;
}

ul.ba {
  list-style-type: none;
  text-align: center;
}

.game {
  margin-top: -120px;
}

.pgn {
	width: 750px;
}

.games {
  background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
}
