{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'chess/games/style.css' %}">
    <title>Game Database</title>
  </head>
  <nav class="navbar navbar-default navbar-expand-sm">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'play/logo.png' %}" class="logo d-inline-block align-top" width="35" height="35" alt="">
    </a>
    <a class="navbar-brand" href="{% url 'home' %}">
      EChess
    </a>
  </nav>
  <body>
    <h1>Games</h1>
      <ul class="ba">
        {% for game in games %}
          <li>
            <div class="game">
              <a href="{% url 'game' game.id %}" class="btn btn-primary stretched-link">
                <h3 class="card-title">{{game.player1}} vs. {{game.player2}}</h3>
                <p class="card-text">{{game.endComment}}</p>
                <pre> {{game.pgn}} </pre>
              </a>
            </div>
          </li>
        {% endfor %}
      </ul>
  </body>
</html>
