body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
  font-family: "Lucida Console", "Courier New", monospace;
}
.home_card {
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #bdbdbd;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;

}

.form_container {
  margin-top: 20px;
}

#form-title{
  color: #fff;

}

.home_btn {
  width: 100%;
  background: #80dfff  !important;
  color: white !important;
  margin-bottom: 10px;
}
.home_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.home_container {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#logo {
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
